*.class
*.log
*.jar

.cache-tests
.cache-main
.cache
.classpath
.history
.lib/
.project/**
!.project/plugins.sbt
.settings/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
