*.class
*.log
*.jar

.cache-tests
.cache-main
.cache
.classpath
.history
.lib/
.project/**
!.project/plugins.sbt
.settings/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/